@import '../../../../../assets/scss/variables.scss';

.mat-toolbar {
	.menu-header {
		color: $toolbar-header-color;
		margin-left: 16px;
	}

	.mat-toolbar-row {
		border-bottom: $divider-border;
		height: 80px;

		.mat-icon {
			margin: 10px 0;
			color: $toolbar-text-color;
		}
	}

	.user-info {
		color: black;
		line-height: 16px;
		cursor: pointer;

		.mat-list-item h4.mat-line {
			font-weight: bold;
		}

		.mat-list-item span.mat-line {
			font-size: 12px;
			opacity: 0.6;
		}
	}

	.spacer {
		flex: 1 1 auto;
	}
}
